<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wyf.suidaodemo">

    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 存储读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取手机状态权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 高德地图配置文件 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="c3bb3a504ee1dd36175f88eb36aaddac" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".takepicture.MyTakePhotoActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".TakePhotoTestActivity" />
        <activity android:name=".showpicture.AmapActivity" />
        <activity android:name=".showpicture.ShowConstructionDetailActivity" />
        <activity android:name=".showpicture.ShowOnePictureActivity" />
        <activity android:name=".managepicture.ShowPictureFolderByDayActivity" />
        <activity android:name=".managepicture.ShowPictureFolderByConstructionActivity" />
        <activity android:name=".managepicture.ManagePicActivity" />

        <!-- 高德地图定位服务 -->
        <service android:name="com.amap.api.location.APSService" />

        <!-- GPS定位服务 -->
        <service
            android:name=".service.GpsService"
            android:label="GPS Service" />

        <!-- 文件同步服务 -->
        <service android:name=".syncpicture.RecordUploadService" />
    </application>

</manifest>